<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1> Home Page </h1>
    <h1> Lorem ipsum dolor sit amet consectetur adipisicing elit. Non deserunt vitae ducimus nesciunt nisi amet aliquam, sint dolore adipisci quam ipsa excepturi minus provident delectus vero cupiditate magnam asperiores. Quidem nesciunt et natus, sunt, veritatis non ab repudiandae accusamus inventore nemo dolorum, alias maxime numquam voluptatum. Assumenda nostrum minima aliquid?</h1>
</body>
</html>